body{
  background-image: linear-gradient(to right top, #02070e, #37393c, #6c6c6f, #a5a5a7, #e2e2e2);
}

img{
  float: right;
}
.sidebar{
border: 3px solid black;
  margin: 20px;
  padding: 20px;
  width: 30%;
  float: right;
  background-color: grey;
}
li{
  list-style-type: none;
}